@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap')
;


/* --------------------------------------------------------------------- */
/* ASPECTOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --rojo: #b90202;
    --blanco: #fbefef;
    --negro: #120808;
}

body, html {
  overflow-x: hidden;
}

h1{
    font-family: "Rubik Mono One", monospace;
    color: var(--rojo);
    font-size: 4em;
    display: inline-block;
    width: 50%;
    padding: 5%;
    margin: 1%;
}

h2{
    font-family: "Rubik Mono One", monospace;
    color: var(--rojo);
    margin: 5%;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

h3{
    font-family: "Montserrat", sans-serif;
    color: var(--negro);
    padding: 5%;
    font-size: 1.5em;
}

h4{
    font-family: "Montserrat", sans-serif;
    color: var(--rojo);
    padding: 1em;
    font-size: 1.5em;
}

p{
    font-family: "Montserrat", sans-serif;
    color: var(--negro);
    padding: 5%;
    margin: 1%;
    font-size: 1.5em;
}

a{
    font-family: "Montserrat", sans-serif;
    color: var(--blanco);
    background-color: var(--negro);
    border: 2px solid var(--blanco);
    border-radius: 1em;
    margin: 0.5em;
    padding: 1em;
}

a:hover{
    background-color: var(--blanco);
    color: var(--negro);   
    border: 2px solid var(--negro);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rojo);
    height: 5%;
    color: var(--blanco);
    padding: 0.5em;
}

header a{
    text-decoration: none;
    padding: 0.5em;
}

#Artistas a{
    margin: 5%;
}

.OcultoMobile a:nth-of-type(4){
    background-color: var(--blanco);
    color: var(--negro);
    border: 2px solid var(--negro);
}

.OcultoMobile a:hover:nth-of-type(4){
    background-color: var(--negro);
    color: var(--blanco);
    border: 2px solid var(--blanco);
}

#ImagenFondo p{
    color: var(--rojo);
    font-weight: bolder;
}

#ImagenFondo{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(ImagenFOndo.png) ;
    background-size: cover;
}

.Articulos img{
    width: 100%;
    border-radius: 1em;
    height: 268px;
    object-fit: cover;
    margin-bottom: 0.5em;
    margin: 3%;
}

#Mail{
    background-color: var(--negro);
}

#Mail h4{
    width: 100%;
    text-align: center;
}

#email{
    background-color: var(--blanco);
    color: var(--rojo);
    padding: 0.5em;
    border: solid var(--rojo);
    border-radius: 0.5em;
    margin: 0.5em;
    height: fit-content;
}

.Links{
    background-color: var(--rojo);
    width: fit-content;
    padding: 0.5em;
    border-radius: 1em;
    margin: 5%;
}

header img:nth-of-type(1){
    width: 100px;
    padding: 0.5em;
}

header img:nth-of-type(2){
    width: 12%;
    padding: 0.5em;
}

footer{
    background-color: var(--rojo);
}

#Footer p{
    width: 100%;
}

.RedesSociales{
    background-color: unset;
    border: unset;
}

.RedesSociales:hover{
    background-color: unset;
    border: unset;
}


/* --------------------------------------------------------------------- */
/* MEDIA QUERY DE MOBILE */

@media all and (max-width:768px){
    #Artistas{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        background-color: var(--negro);
        padding: 0.5em;
        padding-bottom: 15%;
    }

    .Articulos{
        display:flex;
        flex-wrap: wrap;
        background-color: var(--blanco);
        border: solid var(--rojo);
        border-radius: 1em;
        margin: 5%;
        height: fit-content;
    }
    
    #SectionGrilla div:nth-of-type(5), #SectionGrilla div:nth-of-type(6), header nav, #ArticuloOculto, .EtiquetaPosition{
        display: none;
    }
    
    #TextoGrilla1{
        background-image: url(Grilla4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    #SectionGrilla{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: var(--blanco);
    }

    #SectionGrilla img, #TextoGrilla1{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #Mail{
        display: flex;
        flex-direction: column;
        padding: 5%;
        align-items: center;
    }

    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #Footer{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    #Footer p{
        text-align: center;
    }

    footer img{
        width: 50px;
        padding: 0.5em;
    }



}


/* --------------------------------------------------------------------- */
/* MEDIA QUERY DE TABLET */
@media all and (min-width:768px){
    #SectionGrilla div:nth-of-type(5), #SectionGrilla div:nth-of-type(6), header img:nth-of-type(2), #ArticuloOculto, .EtiquetaPosition{
        display: none;
    }

    #Artistas{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: center;
        background-color: var(--negro);
        padding: 0.5em;
        padding-bottom: 15%;
    }

    .Articulos{
        display:flex;
        flex-wrap: wrap;
        background-color: var(--blanco);
        border: solid var(--rojo);
        border-radius: 1em;
        margin: 1em;
        height: fit-content;
        width:  calc((100% / 2) - 2em);

    }

    .Articulos img{
        width: 100%;
        border-radius: 1em;
        height: 200px;
        object-fit: cover;
        margin-bottom: 0.5em;
        margin: 3%;
    }

    #SectionGrilla{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: var(--blanco);
        padding: 3px;
    }

    #SectionGrilla img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    #SectionGrilla div:nth-of-type(2){
        grid-row: span 2;
    }

    #SectionGrilla div:nth-of-type(4){
        grid-column: span 2;
    }

    #TextoGrilla1{
        background-image: url(Grilla4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 4px;
    }

    #Mail{
        padding: 1em ;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    form{
        display: flex;
        align-items: center;
    }

    #Footer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #Footer p{
        width: fit-content;
        padding: 0%;
    }

    #Footer img{
        width: 60px;
    }

    #Footer img:nth-of-type(3){
        width: 70px;
    }

}


/* --------------------------------------------------------------------- */
/* MEDIA QUERY DE DESKTOP */
@media all and (min-width:1200px){

    #ArticuloOculto{
        display: flex;
    }

    #SectionGrilla div:nth-of-type(5), #SectionGrilla div:nth-of-type(6){
        display: block;
    }

    .Articulos{
    width:  calc((100% / 3) - 2em);
    position: relative;
    }

    #Artistas{
    justify-content: center;
    position: relative;
    }

    .EtiquetaPosition{
        display: block;
        right: 0px;
        top: 25px;
        position: absolute;
        background-color: var(--rojo);
    }

    .EtiquetaPosition p{
        padding-left: 4em;
        font-weight: bolder;
        text-align: right;
    }

    #SectionGrilla{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #SectionGrilla img{
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    #SectionGrilla div:nth-of-type(4){
        grid-row: 1; 
        grid-column: 3/5;
    }

    #SectionGrilla div:nth-of-type(3){
        grid-row: 2;
        grid-column: 1/2;
    }



}
